@font-face {
    font-family: Ostrich;
    src: url(./ostrich-sans.sans-medium.ttf);
}

body
{
    background-color: grey;
}

h{
    
  font-family: Ostrich; font-size: 56px;
  font-style: normal; font-variant: normal;
  font-weight: 300; line-height: 35px; color:black;
}


.head{
   text-align: center;
   flex: 0 0 65%;
   padding: 50px;
   margin: 10px;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  margin: 10px;
}

.row2 {
  display: flex;
  font-family: Ostrich; font-size: 56px;
  font-style: normal; font-variant: normal;
  font-weight: 300; line-height: 35px; color:black;
}

.column2 {
  flex: 50%;
  margin: 10px;
  font-family: Ostrich; font-size: 12px;
  font-style: normal; font-variant: normal;
  font-weight: 300; line-height: 35px; color:black;
}

.img1
{
    height :200px; 
    width : 300px;
}



.img2
{
   height :200px; 
    width : 300px;
}

.img3
{
    height :200px; 
    width : 300px;
}

