@font-face {
    font-family: Ostrich;
    src: url(./ostrich-sans.sans-medium.ttf);
}

body
{
    background-color: grey;
}

h{
    flex: 0 0 65%;
   padding: 50px;
   margin: 0px;
  font-family: Ostrich; font-size: 56px;
  font-style: normal; font-variant: normal;
  font-weight: 300; line-height: 35px; color:black;
}

.top-panel
{
    text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.img1
{
    height :200px; 
    width : 350px;
}



.img2
{
    height :200px; 
    width : 350px;
}

.img3
{
    height :200px; 
    width : 350px;
}

